* {
	padding:0;/*外边距*/
    margin:0;/*内边距*/
}
.header {
	height: 62px;/*高度*/
	width: 100%;/*宽度*/
	position: fixed;/*位置：固定*/
	background-color:rgba(0,255,255,0.5);/*背景色*/
}
.header ul {
	font-size: 24px;/*字体大小*/
	position: absolute;/*位置：绝对*/
	right: 10vw;/*右边距*/
	top: 0px;/*顶部边距*/
	line-height: 62px;/*行高*/
	border: 1px #000000;/*边框*/
	padding: 10px 20px;/*内边距*/
    border-radius: 10px;/*圆角*/
}
.header li {
	display: inline;/*内联*/
	margin: right 4vw;/*右边距*/
}
.header a{
	color: rgb(255, 0, 204);/*颜色*/
	text-decoration: none;/*去掉下划线*/
}
.main img{
    height: 100%;/*高度*/
    width: 100%;/*宽度*/
}
